*  {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.divClass {
    position: relative;  
    float: left;
}

h2 {
    border: 1px solid black;
    width: 150px;
    position: absolute;
    right: 5%;
    top: -1.6%;
    text-align: center;
}

.red {
    background-color: rgb(230, 59, 59);
}

.blue {
    background-color: rgb(105, 105, 226);
}

.green {
    background-color: rgb(44, 168, 44);
}

p {
    background-color: bisque;
    border: 1px solid black;
    width: 90%;
    height: 200px; 
    margin-right: 5%;
    margin-left: 5%;
    padding: 30px 10px 10px 10px;
    overflow: hidden;
}

@media (min-width: 992px){ 
    .col-lg {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px){ 
    .col-med {
        width: 50%;
    }

    .col-med-long {
        width: 100%;
    }

    .p-med-long {
        width: 95%;
        margin-left: 2.5%;
    }

    .h2-med-long {
        right: 2.5%;
    }
}